<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="aws" type="Amazon.AWSSection, AWSSDK.Core"/>
  </configSections>
  <aws>
    <logging logTo="UnityLogger" logResponses="Always" logMetrics="true" />
    <region>ap-northeast-1</region>
    <cognito>
      <identity>
        <poolId>YOUR_USER_POOL_ID</poolId>
        <clientId>YOUR_CLIENT_ID</clientId>
      </identity>
    </cognito>
  </aws>
</configuration> 