<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.google.unity.ads">
  <application>
    <meta-data android:name="com.google.android.gms.ads.APPLICATION_ID" android:value="ca-app-pub-1142801310983686~9710648064" />
    <meta-data android:name="com.google.unity.ads.UNITY_VERSION" android:value="6000.0.34f1" />
  </application>
</manifest>